<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.weplenish.flutter_bluetooth">
  <uses-feature android:name="android.software.companion_device_setup"/>
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>
